# Datadog API credentials
DD_API_KEY=3cd481e324777d55ceda30f00d263639
DD_APP_KEY=669d834d2278689213a0cd18753334deab8a0545
DD_SITE=datadoghq.com

# Slack notifications
SLACK_WEBHOOK_URL=your-slack-webhook-url

# Jira integration
JIRA_BASE_URL=https://yourteam.atlassian.net
JIRA_EMAIL=your-email@company.com
JIRA_API_TOKEN=your_jira_api_token_here
